body {
	font-family: 'Raleway', sans-serif;
	background-color: #f8f9fa;
}

.flex-body{
	min-height: 90vh;
	display:flex;
}

.background {
	background-image: url("/voyager/img/3.jpg");
	background-size: cover;
}

.navbar-brand {
	margin-left: 5em; 
	margin-right: 3em;
}

.nav-item {
	font-size: 1.2em;
	color: black;
	margin-right: 3em;
}

.card {
	margin: auto;
}

.card-width{ 
	width: 50%;
}

.card-offer{
	margin-bottom: 3em;
}

.form-logo {
	width: 10em;	
}

.logo {
	width: 6em;
}
<<<<<<< HEAD
=======

.card-img-top{
	margin:auto;
	width: 17em;
}
>>>>>>> f26061616767f159ae25b409a9e7dc21a2a52ccb
