body{
    font-family: 'Raleway', sans-serif;
	background-image: url("/voyager/img/3.jpg");
	background-size: cover; 
}

a {
	font-size: 1.2em;
    color:black;
}

header {
	background-color: rgba(255, 255, 255, 1) !important;
}

.navbar{
	margin-bottom: 0;
    text-align: center;
}

.login-container{
	min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.login-modal{
	margin:auto;
	padding: 2em; 
	background-color: white;
	text-align: center;
}

.form-logo{
	width:10em;
}

.logo{
	width: 9em;
}

.header{
    background-color: chocolate;
}

.nav-item{
    float: left;
    line-height: 4em;
}

